video(autoplay muted loop)
  source(src="../../assets/img/video.mp4" type="video/mp4")

.container
  .row
    .col-12.text-center

      p Contacto:

.container.text-center
  .jumbotron.text-white.shadow.animated.fadeIn
    h2 Puedes contactarme a través de :
    a(href="https://www.linkedin.com/in/jocelyn-casteletti-sandoval/")
          img.icon(src="../../assets/img/linkedin.svg")
    a(href="mailto:mailto:jocelyncasteletti@gmail.com")
          img.icon(src="../../assets/img/gmail.svg")
    a(href="https://github.com/JoceCasteletti")
          img.icon(src="../../assets/img/github.svg")
    br
    h2 Descarga mi CV
    a(href="https://drive.google.com/open?id=1WUUYEMbfQ0-fF6m_s1rhhLnYXvx3n2xo")
          img(src="../../assets/img/curriculum.svg")
