.container
  .row
    .col-12.col-sm-4
      img.img-fluid.photo.animated(src="https://via.placeholder.com/1024x1024")
    .col-12.col-sm-8
      h4 Jocelyn Victoria Casteletti Sandoval
      p Lorem ip sed risus. Quisque molestie, felis quis blandit consectetur, tortor lacus sodales ligula, ac malesuada mi lorem sed ipsum. Cras iaculis hendrerit tortor sed lobortis. Praesent tincidunt lacus sit amet odio aliquam consequat. Donec id vulputate mi. Proin sit amet consectetur enim.
      h5 Habilidades
      ul
        li abc
        li abc
        li abc
        li abc
        li abc
