.container
  .row
    .col-12.col-sm-4
      img.img-fluid.photo.animated(src="../../assets/img/joce.jpg")
    .col-12.col-sm-8.text-white
      h4 Jocelyn Casteletti Sandoval
      p Soy Ingeniera comercial de profesión y actualmente Front End Developer, me adapto muy bien a los cambios, trabajo bien en equipo y siempre encuentro un dato que les sirve a todos en algún proyecto, aplicando metodologías ágiles.
      h5 Habilidades técnicas :
      ul
        li Javascript, Angular, HTML5, CSS3, Boostrap, Sass, Node.js
        li Firebase, Materialize, Git, Typescript
        li Metologías ágiles (Scrum y Kanban)
  .row
    .col-2.col-sm-1.p-2
      img.img-fluid.photo.animated(src="../../assets/img/javascript.svg" alt="Javascript" title="Javascript")
    .col-2.col-sm-1.p-2
      img.img-fluid.photo.animated(src="../../assets/img/angular.svg" alt="Angular" title="Angular")
    .col-2.col-sm-1.p-2
      img.img-fluid.photo.animated(src="../../assets/img/html-5.svg" alt="HTML5" title="HTML5")
    .col-2.col-sm-1.p-2
      img.img-fluid.photo.animated(src="../../assets/img/css-3.svg" alt="CSS3" title="CSS3")
    .col-2.col-sm-1.p-2
      img.img-fluid.photo.animated(src="../../assets/img/github-icon.svg" alt="Github" title="Github")
    .col-2.col-sm-1.p-2
      img.img-fluid.photo.animated(src="../../assets/img/nodejs-icon.svg" alt="NodeJs" title="NodeJs")
    .col-2.col-sm-1.p-2
      img.img-fluid.photo.animated(src="../../assets/img/bootstrap.svg" alt="Boostsrap" title="Boostsrap")
    .col-2.col-sm-1.p-2
      img.img-fluid.photo.animated(src="../../assets/img/firebase.svg" alt="Firebase" title="Firebase")
    .col-2.col-sm-1.p-2
      img.img-fluid.photo.animated(src="../../assets/img/gitlab.svg" alt="Gitlab" title="Gitlab")
    .col-2.col-sm-1.p-2
      img.img-fluid.photo.animated(src="../../assets/img/git-icon.svg" alt="Git" title="Git")
    .col-2.col-sm-1.p-2
      img.img-fluid.photo.animated(src="../../assets/img/sass.svg" alt="Sass" title="Sass")
    .col-2.col-sm-1.p-2
      img.img-fluid.photo.animated(src="../../assets/img/materializecss.svg" alt="Materialize" title="Materialize")



