\:host
  background-color: #380067
  font-family: 'Livvic', sans-serif
  overflow: hidden
  display: block
  min-height: 100%
  position: absolute
  width: 100%
  padding-top: 4rem

.container
  .photo
    animation-name: photo


  .animated
    animation-delay: 1s
    animation-duration: 1s
    animation-fill-mode: both
    position: relative


@keyframes photo
  from
    opacity: 0
    left: 300px
    transform: rotate(1rad)
  to
    opacity: 1
    left: 0
    transform: rotate(0)


