.container
  .row
    .col-12.col-sm-4
      img.img-fluid.photo.animated(src="../../assets/img/joce.jpg")
    .col-12.col-sm-8.text-white
      h4 Jocelyn Casteletti Sandoval
      p Soy Ingeniera comercial de profesión y actualmente Front End Developer, me adapto muy bien a los cambios, trabajo bien en equipo y siempre encuentro un dato que les sirve a todos en algún proyecto, aplicando metodologías ágiles.
      h5 Habilidades técnicas :
      ul
        li Javascript
        li Angular
        li HTML5
        li CCS3
        li Bootstrap
        li Sass
        li Node.js
        li Firebase
        li Materialize
        li GIT
        li Typescript
        li Metologías ágiles (Scrum y Kanban)


