video(autoplay muted loop)
  source(src="../../assets/img/video.mp4" type="video/mp4")

.container.text-center
  .jumbotron.text-white.shadow.animated.fadeIn
    h1 Mi portafolio
    p.lead Desarrollo Frontend
    img.icons(src="../../assets/img/nodejs-icon.svg")
    img.icons(src="../../assets/img/angular-icon.svg")
    img.icons(src="../../assets/img/sass-icon.svg")
    img.icons(src="../../assets/img/bootstrap-icon.svg")
