video(autoplay muted loop)
  source(src="../../assets/img/video.mp4" type="video/mp4")

.container.text-center
  .jumbotron.text-white.shadow.animated.fadeIn
    H1 Jocelyn Casteletti
    p.lead Desarrolladora Frontend
    img.icons(src="../../assets/img/nodejs-icon.svg" alt="NodeJs" title="NodeJs")
    img.icons(src="../../assets/img/angular-icon.svg" alt="Angular" title="Angular")
    img.icons(src="../../assets/img/sass-icon.svg" alt="Sass" title="Sass")
    img.icons(src="../../assets/img/bootstrap-icon.svg" alt="Bootstrap" title="Bootstrap")
