@import url('https://fonts.googleapis.com/css?family=Livvic&display=swap')

\:host
  background-color: #380067
  font-family: 'Livvic', sans-serif
  overflow: hidden
  display: block
  min-height: 100%
  position: absolute
  width: 100%

.container
  padding-top: 4em
  position: relative

  .cards-columns
    column-count: 3

  .card
    overflow: hidden
    margin-bottom: 1rem
    box-shadow: 0 0 1rem rgba(255,255,255,.4) !important
    transition: transform .2s

    &:hover
      transform: scale(0.95)
      z-index: 1000

      .card-title-overlay
        animation-name: cardTitle

    .btn
      margin-top: 0.2rem
      margin-right: 0.5rem

      fa-icon
        margin-right: 0.5rem

    .card-title-overlay
      position: absolute
      bottom: 0
      width: 100%
      background-color: rgba(0, 0, 0, 0.5)
      animation-duration: 0.2s
      animation-fill-mode: both

    &.animated
      animation-delay: 1s
      animation-duration: 0.5s
      animation-fill-mode: both
      position: relative

    .card-img-overlay
      background-color: rgba(0, 0, 0, 0.5)
      margin: 0.5rem
      opacity: 0
      animation-duration: .6s
      animation-fill-mode: both

      &:hover
        animation-name: cardInfo

@keyframes cardInfo
  from
    opacity: 0
  to
    opacity: 1

@keyframes fadeIn
  0%
    opacity: 0
    left: 300px
  100%
    opacity: 1
    left: 0

@keyframes cardTitle
  from
    height: 1rem
  to
    height: 0

.fadeIn
  animation-name: fadeIn


.bg-blur
  filter: blur(1.3rem)
  position: absolute
  width: 100%
  height: 100%
  background-color: purple
